---
import DefaultLayout from '../layouts/DefaultLayout.astro'

---

<DefaultLayout title="About">
    <div class="mx-auto max-w-xl">
        <p>Hey, I'm Alvart. I've been playing violin since 1994.</p>
        <p>I started painting in 2011 and fell in love with the combination of both worlds.</p>

        The way I approach an artwork is influenced by the music or movie playing in the background, so I feel that my
        artworks are accompanied by the zone I'm in as I dip into a musical phase, a genre, a composer, a new album. I
        loosely choose which sounds are going to accompany me, reach out for a colour that works in that moment and
        starting moving around the canvas or paper. There is no plan because music can be so moody, albums have many
        colours, composers change their skin during different phases of their lives. The process of painting creates a
        space for me to be closer to myself by being at ease and immersed in music without all of the technical
        constraints and expectations. Getting closer to colour and movement, and being present and connected for a
        chunky block of time is so refreshing, since most things (except for teaching) seem to divide my attention into
        many little different pieces.

    </div>
</DefaultLayout>