---
import HomeLayout from "../layouts/HomeLayout.astro";
const { content } = Astro.props;
---

<HomeLayout>
  <div class="flex-1">
    <p class="text-4xl font-extrabold font-darkergrotesque">
      I fell in love with the combination of sound, colour and movement.
    </p>
    <p class="text-lg font-muli mt-6">
      Based in Sydney and accepting custom orders! Please check out the
      paintings page for my full works.
    </p>
    <div class="cta-container mt-6">
      <a
        href="/paintings"
        class="no-underline p-4 w-full text-center font-bold bg-accent-yellow text-accent-black inline-block rounded-xl hover:brightness-110 ease-in-out duration-200"
        >Paintings
      </a>
    </div>
  </div>
  <div class="flex-1">
    <img
      class="mt-6 lg:mt-0 rounded-xl w-full"
      src="https://ucarecdn.com/b3260e5f-9683-42bf-b323-b390fb8c7899/-/scale_crop/512x512/-/quality/smart/
-/format/auto/"
    />
  </div>
</HomeLayout>
