---
import DefaultLayout from '../layouts/DefaultLayout.astro'
const allPaintings = await Astro.glob('../pages/paintings/*.md');

// const mappedPaintings = await Promise.all(
//   Object.keys(allPaintings).map((key) => {
//     const painting = allPaintings[key];
//     const url = key.replace('../paintings/', '/').replace('.md', '/');
//     return painting().then((p) => {
//       return { url };
//     });
//   })
// );
---

<DefaultLayout title="Paintings">

    <p class="text-center mx-auto pb-12 max-w">
        I show only the best websites and portfolios built completely with
        passion, simplicity & creativity!
    </p>
    <!-- Generates painting listing page  -->
    <div class="painting-listing-container md:grid-cols-2 lg:grid-cols-3 md:gap-8 lg:gap-12 md:grid">
        {allPaintings.map(p => (
        <div class="painting-listing-item not-prose">
            <!-- Painting list view -->
            <div class="max-w-md mx-auto">
                <a href={p.url} class="">
                    <img src={p.frontmatter.image1
                        + '-/resize/680x950/-/quality/lightest/-/format/webp/-/progressive/yes/' }
                        alt={p.frontmatter.title + 'painting image' }
                        class="rounded-xl max-w-lg w-full mx-auto hover:scale-95 transition ease-in-out duration-300" />
                </a>
                <h4 class="mt-0 pb-12 text-center text-2xl font-extrabold font-darkergrotesque">
                    { p.frontmatter.title }
                </h4>
            </div>
        </div>
        ))}
    </div>
</DefaultLayout>