<footer class="px-4 sm:px-6 md:px-8">
  <div
    class="flex justify-between py-4 font-muli text-sm mt-12 border-t-2 border-accent-grey"
  >
    <ul class="contact-list">
      <li>Four Silver Strings</li><li>
        <a href="mailto:admin@foursilverstrings.com.au"
          >admin@foursilverstrings.com.au
        </a>
      </li>
    </ul>
    <div class="footer-col footer-col-equal">
      <p class="mb-0">Violinist since 1994</p>
      <p class="mb-0">Teaching since 2009</p>
      <p class="mb-0">Painting since 2011</p>
    </div>
  </div>
</footer>
