---
import DefaultLayout from './DefaultLayout.astro';
import PaintingDefinition from '../components/PaintingDefinition.astro';
const { content } = Astro.props;

---

<DefaultLayout title={content.title}>
  {content.description}

  yo: {content.paper_frame1_label}
  yo: {content.paper_frame2_label}
  <!-- This is the individual painting page config -->
  <div class="painting-container lg:flex lg:flex-row lg:space-x-8 pb-16 mx-auto">
    <div class="painting-detail-image flex-1">
      <div class="fotorama" data-nav="thumbs" data-allowfullscreen="false" data-fit="cover" data-keyboard="true"
        data-loop="true" data-transition="crossfade" data-ratio="600/800">
        <img src={content.image1 + '-/resize/420x/-/format/jpeg/-/progressive/yes/' } alt={content.title
          + 'painting image' } />
        <img src={content.image2 + '-/resize/420x/-/format/jpeg/-/progressive/yes/' } alt={content.title
          + 'painting image' } />
        <img src={content.image3 + '-/resize/420x/-/format/jpeg/-/progressive/yes/' } alt={content.title
          + 'painting image' } />
        <img src={content.image4 + '-/resize/420x/-/format/jpeg/-/progressive/yes/' } alt={content.title
          + 'painting image' } />
        <img src={content.image5 + '-/resize/420x/-/format/jpeg/-/progressive/yes/' } alt={content.title
          + 'painting image' } />
        <img src={content.image6 + '-/resize/420x/-/format/jpeg/-/progressive/yes/' } alt={content.title
          + 'painting image' } />
        <img src={content.image7 + '-/resize/420x/-/format/jpeg/-/progressive/yes/' } alt={content.title
          + 'painting image' } />
        <img src={content.image8 + '-/resize/420x/-/format/jpeg/-/progressive/yes/' } alt={content.title
          + 'painting image' } />
      </div>
    </div>
    <PaintingDefinition />
  </div>
</DefaultLayout>